*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    background: var(--color-bg);
    color: var(--color-text);

    font-family: var(--font-body);
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
}

img,
video {
    display: block;
    max-width: 100%;
}

button,
a {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
}

::selection {
    background: var(--color-accent);
    color: var(--color-bg);
}
